<html>
<head>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container anidi_services ">
  <h3>Our stylists</h3> <br>

	<div class="row">

		<ul class="links">

    @if(@Model.Count == 0)
    {
    <p>No stylists</p>
    }

    @foreach (var stylist in Model)
    {

    <li>
        <span class="icon"><img src="~/img/icon.svg" width="30"
         height="30"></span>
  <a href='/stylists/@stylist.GetId()'>@stylist.GetName()</a>
        <div class="clearfix"></div>
    </li>
    <a href='/stylists/@stylist.GetId()/delete' class="btn"><i class="icon-trash"></i> <strong>Delete</strong></a>
      <a href='/stylists/@stylist.GetId()/edit' class="btn"><i class="icon-edit"></i> <strong>Edit</strong></a>
      <br><br>


    }


                        </ul>
	</div>

    <button class="btn btn-warning"><a class="card-link" href="/">Back home</a></button>

</div>











</body>
