<html>

<center>

  <body>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <div class="jumbotron">

      <h1>Add a stylist</h1>

      <form action="/stylists" method="post" <label for="stylistName">Stylist name</label>
        <input id="stylistName" name="stylistName" type="text"> <button id="button" type="submit">Add</button><br>
      </form>

      <a class="card-link" href="/">Back home</a>
      <a class="card-link" href="/stylists">Back to stylists</a>

    </div>
  </body>
</center>

</html>