<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>

</body>

</html>
<br />
Stylist <strong>@ViewBag.Stylist.GetName()</strong> has these clients:
@foreach (var client in ViewBag.Clients1) {
<li>@client.GetName()</li> <br />
}
<br />

<form action="/stylist/@ViewBag.Stylist.GetId()/addclient" method="post">
  <select name="clientId" id="clientId">
    @foreach (var client in ViewBag.Clients) {
    <option value="@client.GetId()">@client.GetName() </option>
    }
  </select>
  <button type="submit">Select</button>
</form>