<html>

<head>


</head>
<body>
<div class="jumbotron">
  <h3>Here are all stylist's clients:</h3>


      @foreach (var client in @Model["clients"])
      {

          <a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>
            @client.GetName()
          </a>


          <a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>
              @client.GetAppointment()
            </a>



                <form action='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/deleteclient' method="post">
                  <button type="submit" class="btn btn-warning btn-circle btn-lg"><i class="glyphicon glyphicon-remove"></i>Delete</button>

                  <button><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()/edit' class="btn"><strong>Edit</strong></a></button>

                </form>



      }

      <button type="button" class="btn btn-warning btn-sm btn-block"><a href='/stylists/@Model["stylist"].GetId()/client/new'>Add a new client</a></button>
      <button type="button" class="btn btn-info btn-sm btn-block"><a href='/stylists/@Model["stylist"].GetId()/clientsort'>Sort by duedate</a></button>
      <button type="button" class="btn btn-success btn-sm btn-block"><a href='/stylists'>Return to stylist list</a></button>
      <button type="button" class="btn btn-danger btn-sm btn-block"><a href='/'>Return to Main Page</a></button>






</div>
  </body>
</center>

</html>
