<html>

<head>

</head>

<body>


  <h2>Edit client info: @Model.GetName()</h2>

  <form action="/clients/@Model.GetId()/editclient" method="post">
    <label for="newName">Name:</label>
    <input type="text" name="newName" value="@Model.GetName()"><br><br>
    <label for="newAppointment">Appointment:</label>
    <input type="date" name="newAppointment" value="@Model.GetAppointment()"><br><br>
    <button type="submit">Edit</button>
  </form>

  <h4><a href="/clients/@Model.GetId()">Return to previous page</a> </h4>
</body>

</html>