<html>

<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link rel='stylesheet' href='~/css/styles.css'>
</head>

<body>






  <div class="container">
    <div class="row">

      <ul>
        <li><a href='/stylists'>View</a></li>
        <li><a href='/stylists/new'>Hire</a></li>
        <li><a href='/search_by_stylist'>Search</a></li>
        <li><a href='/clients'>Clients</a></li>
        <li><a href='/specialities'>Specialities</a></li>
      </ul>

    </div>
  </div>

</body>

</html>