<html>
<head>
</head>
<body>

<h3>Add a new speciality</h3>


<form method="post" action="/specialities">
<label for="specialityName">Speciality Name</label>
<input id="specialityName" name="specialityName" type="text" required >
<button type="submit">Submit</button>
</form>
</body>
</html>
